body {
  margin: 0;
  font-family: Arial;
}

/* navbar */
.topbar {
  background: #1e3a8a;
  padding: 12px 20px;
}

/* menu */
.navbar-right {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin: 0 20px;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right a:hover {
  color: #93c5fd;
}