body{
    background-color: #fac9e1;
    color:#fac9e1
    text-align: center;
}
h1{
  font-weight: lighter;
    color: rgb(150, 0, 150);
    text-decoration: overline;
    width: 250px;
    height: 300px;
    border: 2px solid #003E1F;
    margin: 20px

}

<style>
  background-image: url('image_123650291\ \(1\).JPG');
}
</style>