body{
    background-color: #fac9e1;
    color:#fac9e1
    text-align: center;
}
h1{
  font-weight: lighter;
    color: rgb(36, 34, 36);
    text-decoration: overline;
}

<style>
  background-image: url('image_123650291\ \(1\).JPG');
}
</style>