body {
  margin: 0;
  font-family: Arial;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e3a8a;
  padding: 10px 20px;
  color: white;
}

/* TITLE */
.title {
  font-size: 18px;
  font-weight: bold;
}

/* NAVBAR */
.navbar-right {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin-left: 20px;
}

.navbar-right a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-right a:hover {
  color: #93c5fd;
}

/* IFRAME */
.viewer {
  width: 100%;
  height: calc(100vh - 60px);
  border: none;
}