body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f0ff; /* light purple */
}

/* navbar */
.topbar {
  background-color: #c084fc;
  padding: 10px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffe4f2;
}

/* container */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* main boxes */
.box {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;

  /* simple highlight */
  border: 2px solid #e9d5ff;

  /* simple shadow */
  box-shadow: 3px 3px 10px lightgray;
}

.box h1 {
  color: #9333ea;
}

/* project boxes */
.project {
  background-color: #fff0f8; /* light pink */
  padding: 15px;
  margin: 15px 0;
  border-left: 5px solid #d946ef;
  border-radius: 6px;
}

.project h2 {
  color: #a21caf;
  margin-top: 0;
}